[class^='i_'] {
    &:before {
        content: '';
        display: inline-block;
        height: 1em;
        width: 1em;
        vertical-align: middle;
    }
}

@mixin hyUiIcon($iconImg) {
    &:before {
        background: url(../images/icon/#{$iconImg}.svg) center center no-repeat;
        background-size: contain;
        margin-top: -0.1em;
        margin-bottom: 0.1em;
    }
}

//notice 這邊想想怕i直接接會比較不清楚，是否還是要繼續保留_可以再找別人討論看看
// 依英文字母排序
///////////////////////////////////////////////////////////////////////////  彩色 icon
// ---------------- C ----------------
.i_calendarColor {
    @include hyUiIcon('icon_calendar_color');
}

///////////////////////////////////////////////////////////////////////////  黑色 icon
// ---------------- A ----------------
.i_add_deep {
    @include hyUiIcon('icon_add_deep');
}

.i_apple_deep {
    @include hyUiIcon('icon_apple_deep');
}

.i_arrowLeft_deep {
    @include hyUiIcon('icon_arrow_left_deep');
}

.i_arrowRight_deep {
    @include hyUiIcon('icon_arrow_right_deep');
}

.i_arrowUp_deep {
    @include hyUiIcon('icon_arrowUp_deep');
}

.i_arrowDown_deep {
    @include hyUiIcon('icon_arrowDown_deep');
}

// ---------------- B ----------------
.i_bookmark_deep {
    @include hyUiIcon('icon_bookmark_deep');
}

// ---------------- C ----------------
.i_calendar_deep {
    @include hyUiIcon('icon_calendar_deep');
}

.i_chat_deep {
    @include hyUiIcon('icon_chat_deep');
}

.i_check_deep {
    @include hyUiIcon('icon_check_deep');
}

.i_clock_deep {
    @include hyUiIcon('icon_clock_deep');
}

.i_close_deep {
    @include hyUiIcon('icon_close_deep');
}

.i_copy_deep {
    @include hyUiIcon('icon_copy_deep');
}

// ---------------- D ----------------
.i_dot_deep {
    @include hyUiIcon('icon_dot_deep');
}

// ---------------- E ----------------
.i_edit_deep {
    @include hyUiIcon('icon_edit_deep');
}

// ---------------- F ----------------
.i_facebook_deep {
    @include hyUiIcon('icon_facebook_deep');
}

.i_funnel_deep {
    @include hyUiIcon('icon_funnel_deep');
}

// ---------------- G ----------------
.i_global_deep {
    @include hyUiIcon('icon_global_deep');
}

.i_googleplus_deep {
    @include hyUiIcon('icon_googleplus_deep');
}

.i_grid_deep {
    @include hyUiIcon('icon_grid_deep');
}

// ---------------- H ----------------
.i_heart_deep {
    @include hyUiIcon('icon_heart_deep');
}

.i_home_deep {
    @include hyUiIcon('icon_home_deep');
}

// ---------------- I ----------------
.i_info_deep {
    @include hyUiIcon('icon_info_deep');
}

// ---------------- J ----------------
// ---------------- K ----------------
// ---------------- L ----------------
.i_layout_deep {
    @include hyUiIcon('icon_layout_deep');
}

.i_link_deep {
    @include hyUiIcon('icon_link_deep');
}

.i_linkedin_deep {
    @include hyUiIcon('icon_linkedin_deep');
}

.i_list_deep {
    @include hyUiIcon('icon_list_deep');
}

.i_lock_deep {
    @include hyUiIcon('icon_lock_deep');
}

// ---------------- M ----------------
.i_mail_deep {
    @include hyUiIcon('icon_mail_deep');
}

.i_man_deep {
    @include hyUiIcon('icon_man_deep');
}

.i_minus_deep {
    @include hyUiIcon('icon_minus_deep');
}

.i_move_deep {
    @include hyUiIcon('icon_move_deep');
}

// ---------------- N ----------------
// ---------------- O ----------------
.i_order_deep {
    @include hyUiIcon('icon_order_deep');
}

// ---------------- P ----------------
.i_photo_deep {
    @include hyUiIcon('icon_photo_deep');
}

.i_pick_deep {
    @include hyUiIcon('icon_pick_deep');
}

.i_play_deep {
    @include hyUiIcon('icon_play_deep');
}

// ---------------- Q ----------------
// ---------------- R ----------------
.i_reflash_deep {
    @include hyUiIcon('icon_reflash_deep');
}

.i_rss_deep {
    @include hyUiIcon('icon_rss_deep');
}

// ---------------- S ----------------
.i_search_deep {
    @include hyUiIcon('icon_search_deep');
}

.i_setting_deep {
    @include hyUiIcon('icon_setting_deep');
}

.i_sort_deep {
    @include hyUiIcon('icon_sort_deep');
}

.i_star_deep {
    @include hyUiIcon('icon_star_deep');
}

// ---------------- T ----------------
.i_top_deep {
    @include hyUiIcon('icon_top_deep');
}

.i_trash_deep {
    @include hyUiIcon('icon_trash_deep');
}

.i_twitter_deep {
    @include hyUiIcon('icon_twitter_deep');
}

// ---------------- U ----------------
// ---------------- V ----------------
.i_video_deep {
    @include hyUiIcon('icon_video_deep');
}

.i_view_deep {
    @include hyUiIcon('icon_view_deep');
}

.i_vimeo_deep {
    @include hyUiIcon('icon_vimeo_deep');
}

// ---------------- W ----------------
// ---------------- X ----------------
// ---------------- Y ----------------
.i_youtube_deep {
    @include hyUiIcon('icon_youtube_deep');
}

// ---------------- Z ----------------
///////////////////////////////////////////////////////////////////////////  白色icon
// ---------------- A ----------------
.i_add {
    @include hyUiIcon('icon_add');
}

.i_apple {
    @include hyUiIcon('icon_apple');
}

.i_arrowLeft {
    @include hyUiIcon('icon_arrow_left');
}

.i_arrowRight {
    @include hyUiIcon('icon_arrow_right');
}

.i_arrowUp {
    @include hyUiIcon('icon_arrowUp');
}

.i_arrowDown {
    @include hyUiIcon('icon_arrowDown');
}

// ---------------- B ----------------
.i_bookmark {
    @include hyUiIcon('icon_bookmark');
}

// ---------------- C ----------------
.i_calendar {
    @include hyUiIcon('icon_calendar');
}

.i_calendar_color {
    @include hyUiIcon('icon_calendar_color');
}

.i_chat {
    @include hyUiIcon('icon_chat');
}

.i_check {
    @include hyUiIcon('icon_check');
}

.i_clock {
    @include hyUiIcon('icon_clock');
}

.i_close {
    @include hyUiIcon('icon_close');
}

.i_copy {
    @include hyUiIcon('icon_copy');
}

// ---------------- D ----------------
.i_dot {
    @include hyUiIcon('icon_dot');
}

// ---------------- E ----------------
.i_edit {
    @include hyUiIcon('icon_edit');
}

// ---------------- F ----------------
.i_facebook {
    @include hyUiIcon('icon_facebook');
}

// ---------------- G ----------------
.i_global {
    @include hyUiIcon('icon_global');
}

.i_googleplus {
    @include hyUiIcon('icon_googleplus');
}

.i_grid {
    @include hyUiIcon('icon_grid');
}

// ---------------- H ----------------
.i_heart {
    @include hyUiIcon('icon_heart');
}

.i_home {
    @include hyUiIcon('icon_home');
}

// ---------------- I ----------------
.i_info {
    @include hyUiIcon('icon_info');
}

// ---------------- J ----------------
// ---------------- K ----------------
// ---------------- L ----------------
.i_layout {
    @include hyUiIcon('icon_layout');
}

.i_link {
    @include hyUiIcon('icon_link');
}

.i_linkedin {
    @include hyUiIcon('icon_linkedin');
}

.i_lock {
    @include hyUiIcon('icon_lock');
}

// ---------------- M ----------------
.i_mail {
    @include hyUiIcon('icon_mail');
}

.i_man {
    @include hyUiIcon('icon_man');
}

.i_minus {
    @include hyUiIcon('icon_minus');
}

.i_move {
    @include hyUiIcon('icon_move');
}

// ---------------- N ----------------
// ---------------- O ----------------
.i_order {
    @include hyUiIcon('icon_order');
}

// ---------------- P ----------------
.i_photo {
    @include hyUiIcon('icon_photo');
}

.i_pick {
    @include hyUiIcon('icon_pick');
}

.i_play {
    @include hyUiIcon('icon_play');
}

// ---------------- Q ----------------
// ---------------- R ----------------
.i_reflash {
    @include hyUiIcon('icon_reflash');
}

.i_rss {
    @include hyUiIcon('icon_rss');
}

// ---------------- S ----------------
.i_search {
    @include hyUiIcon('icon_search');
}

.i_setting {
    @include hyUiIcon('icon_setting');
}

.i_sort {
    @include hyUiIcon('icon_sort');
}

.i_star {
    @include hyUiIcon('icon_star');
}

// ---------------- T ----------------
.i_top {
    @include hyUiIcon('icon_top');
}

.i_trash {
    @include hyUiIcon('icon_trash');
}

.i_twitter {
    @include hyUiIcon('icon_twitter');
}

// ---------------- U ----------------
// ---------------- V ----------------
.i_video {
    @include hyUiIcon('icon_video');
}

.i_view {
    @include hyUiIcon('icon_view');
}

.i_vimeo {
    @include hyUiIcon('icon_vimeo');
}

// ---------------- W ----------------
// ---------------- X ----------------
// ---------------- Y ----------------
.i_youtube {
    @include hyUiIcon('icon_youtube');
}